@charset "utf-8";
/* =====================================

	* board

    CSS CONTENTS :
    01. list
    02. list::effect
    03. button
    04. list::paging
    05. view
    06. view::comment
    07. view::move
    08. write
    
====================================== */
/* list */
.sch-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.sch-wrap .cnt{
    font-size: 1.7rem;
    letter-spacing: -0.05em;
}
.sch-wrap .form-item{
    height: 40px;
    font-size: 1.5rem;
}
.sch-wrap .sch-cate{
    width: 100px;
}
.sch-wrap .sch-key{
    width: 300px;
    margin-left: 5px;
}
.sch-wrap .btn-sch{
    width: 40px;
    height: 40px;
    margin-left: -4px;
    background-color: #144393;
    background-repeat: no-repeat;
    background-image: url('../image/ic_sch.png');
    background-position: center;
    border-radius: 3px;
}
.vod-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.vod-list > li{
    position: relative;
    width: calc((100% - 40px)/3);
    border: 1px solid #e2e2e2;
}
.vod-list > li > a{
    display: block;
    position: relative;
    transition: 0.3s ease;
}
.vod-list > li:hover > a{
    box-shadow: 0 20px 24px rgba(149,149,149,0.2);
}
.vod-list > li:hover .gall-tit{
    color: #20366f;
}
.gall-img{
    display: block;
    position: relative;
    width: 100%;
    height: 245px;
    border-bottom: 1px solid #e2e2e2; 
    background-color: #fafafa;
}
.gall-img:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}
.gall-img:before{
    opacity: 0.1;
    background-color: rgba(0, 0, 0, 0.3);
}
.gall-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gall-text{
    padding: 25px;
    letter-spacing: -0.05em;
}
.gall-tit{
    height: 47px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #333333;
    line-height: 1.3;
}
.ic-new{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin: 3px 0;
    border-radius: 50%;
    background-color: #eb2457;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    letter-spacing: -0.07em;
    vertical-align: top;
}
.gall-tit-wrap:has(.ic-new) .gall-tit{
    max-width: calc(100% - 30px);
}
.gall-con{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}
.gall-con span{
    display: inline-block;
    position: relative;
    line-height: 1.3;
    vertical-align: top;
}
.gall-con span + span{ 
    padding-left: 10px;
    margin-left: 8px;
}
.gall-con span + span:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 4px;
    left: 0;
    width: 2px;
    height: 11px;
    background-color: #c7d0df;
}
.vod-list .btn-admin{
    margin-top: 25px;
    text-align: center;
}
.bbs-admin{
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}
.bbs-admin .form-item{
    width: 65px;
    height: 27px;
    margin: 2px;
    padding: 0 3px;
    border-color: #565656;
    background-color: #fff;
    font-size: 1.4rem;
    vertical-align: top;
}
.bbs-admin .btn.btn-modify,
.bbs-admin .btn.btn-delete{
    width: 27px;
    height: 27px;
    margin: 2px;
    border-radius: 2px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #565656;
}
.bbs-admin .btn.btn-modify{
    background-image: url('../image/ic_modify.png');
}
.bbs-admin .btn.btn-delete{
    background-image: url('../image/ic_delete.png');
    background-color: #565656;
}
.vod-list .no-data{
    display: block;    
    width: 100% !important;
    padding: 70px 15px;
    border-top: 2px solid #20366f;
    border-left: 0;
    border-right: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #20366f;
    letter-spacing: -0.05em;
    text-align: center;
}
.vod-list > li:hover .gall-img:before{
    opacity: 1;
}

/* list::effect */
.ef01,
.ef02,
.ef03,
.ef04{
    position: relative;
}
.ef01 > a,
.ef02 > a,
.ef03 > a,
.ef04 > a{
    width: 100%;
    height: 100%;
}
.ef01 > a{
    position: relative;
}
.ef01 > a:before, 
.ef01 > a:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: transparent;
	border: 1px solid rgba(32,54,111,0.1);
	transition: transform 0.3s, opacity 0.3s;
    box-sizing: border-box;
}
.ef01 > a:after{
	opacity: 0;
	border-color: #20366f;
    border-width: 3px;
	transform: translateY(-6px) translateX(6px);
}
.ef01 > a:hover:before, 
.ef01 > a:focus:before{
	opacity: 0;
	transform: translateY(5px) translateX(-5px);
}
.ef01 > a:hover:after, 
.ef01 > a:focus:after{
	opacity: 1;
	transform: translateY(0px) translateX(0px);
}
.ef02{
	overflow: hidden;
	position: relative;
    z-index: 1;
	padding: 0;
    transition: 0.3s ease;
}
.vod-list .ef02{
    border: 0;
}
.ef02:before,
.ef02:after{
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 2;
	transform: rotate(45deg);
	transition: all 0.3s ease 0s;
    height: 0;
    background-color: #fff;
	border-bottom: 3px solid #20366f;
}
.ef02:after{
    border: 0;
	border-top: 3px solid #20366f;
    top: auto;
    right: auto;
    bottom: 0;
    left: -50%;
}
.ef02:hover:before,
.ef02:hover:after{
    width: 100%;
    height: 20px;
}
.ef02 > a{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}
.ef02 > a:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
}
.ef02:hover > a:before{
    border-color: #20366f;
    border-width: 3px;
}
.ef02 .bbs-admin{
    z-index: 1;
}
.ef03:before,
.ef03:after{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    z-index: 1;
    width: 0;
    height: 3px;
    background-color: #20366f;
}
.ef03:before{
    top: 0;
    left: 0;
    transition: 0.2s ease;
}
.ef03:after{
    right: 0;        
    transition: 0.2s ease 0.2s;
}
.ef03 > a:before,
.ef03 > a:after{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    width: 3px;
    height: 0;
    background-color: #20366f;
}
.ef03 > a:before{
    bottom: 0;
    left: 0;
    transition: 0.2s ease 0.3s;
}
.ef03 > a:after{
    top: 0;
    right: 0;    
    transition: 0.2s ease 0.1s;
}
.ef03:hover:before{
    width: 100%;
}
.ef03 > a:hover:after{
    height: 100%;
}
.ef03:hover:after{
    width: 100%;    
}
.ef03 > a:hover:before{
    height: 100%;
}
.ef03:hover .gall-img{
    z-index: -1;
}

.ef04:before,
.ef04:after,
.ef04 > a:before,
.ef04 > a:after{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    z-index: 1;
    background-color: #20366f;
    transition: 0.3s ease;
}
.ef04:before,
.ef04:after{
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
}
.ef04 > a:before,
.ef04 > a:after{
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 0;
}
.ef04 > a:after{
    right: 0;
}
.ef04:hover:before,
.ef04:hover:after{
    width: calc(100% + 30px);
}
.ef04:hover > a:before,
.ef04:hover > a:after{
    height: calc(100% + 30px);
}

/* button */
.board-wrap .btn-wrap{
    margin-top: 30px;
}
.btn-admin .btn.btn-board{
    display: inline-block;
    min-width: 50px;
    height: 27px;
    padding: 2px 0;
    margin: 1px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    vertical-align: top;
}
.board-view + .btn-wrap{
    text-align: right;
}
.btn.btn-board{
    display: inline-block;
    min-width: 115px;
    padding: 9px 20px;
    margin: 4px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.07em;
    text-align: center;
}
.btn.btn-list{
    background-color: #fff;
    border-color: #3c568a;
    color: #3c568a;
}
.btn.btn-modify{
    background-color: #20366f;
    border-color: #20366f;
    color: #fff;
}
.btn.btn-delete{
    background-color: #bd466a;
    border-color: #bd466a;
    color: #fff;
}
.btn.btn-cancel{
    background-color: #929292;
    border-color: #929292;
    color: #fff;
}
.btn.btn-write{
    background-color: #20366f;
    border-color: #20366f;
    color: #fff;
}
.btn.btn-reply{
    background-color: #4986ac;
    border-color: #4986ac;
    color: #fff;
}

/* list::paging */
.paging-wrap{
    margin-top: 40px;
    text-align: center;
}
.paging{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.paging > li{
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    vertical-align: top;
    transition: 0.3s ease;
}
.paging > .num:hover,
.paging > .num.on,
.paging > .num:hover > a,
.paging > .num.on > a{
    background-color: #f3f3f3;
    font-weight: 600;
    color: #000000;
}
.paging > li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3px 0;
    font-size: 1.8rem;
    color: #b3b3b3;
    transition: 0.3s ease;
}
.paging > li:not(.num){
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
}
.paging > li:not(.num):hover{
    background-color: none;
}
.paging .first{
    background-image: url('../image/ic_first.png');
}
.paging .first:hover{    
    background-image: url('../image/ic_first_on.png');
}
.paging .prev{
    margin-right: 15px;
    background-image: url('../image/ic_prev.png');
}
.paging .prev:hover{
    background-image: url('../image/ic_prev_on.png');
}
.paging .next{
    margin-left: 15px;
    background-image: url('../image/ic_next.png');
}
.paging .next:hover{    
    background-image: url('../image/ic_next_on.png');
}
.paging .last{    
    background-image: url('../image/ic_last.png');
}
.paging .last:hover{
    background-image: url('../image/ic_last_on.png');
}

/* view */
.board-view{
    letter-spacing: -0.05em;
}
.view-contop{
    padding: 20px 25px;
    background-color: #f6f9ff;
    border-top: 2px solid #20366f;
    border-bottom: 1px solid #bbbbbb;
    font-size: 1.5rem;
}
.view-contop + .view-contents{
    border-top: 0;
}
.view-tit{
    font-size: 2.5rem;
    font-weight: 600;
    color: #20366f;
    text-align: center;
    letter-spacing: -0.05em;
}
.view-contop:not(:has(.view-cnt)) .view-tit{
    margin-bottom: 10px;
}
.view-cnt{
    margin-bottom: 10px;
}
.view-cnt button + button{
    margin-left: 10px;
}
.view-cnt .icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
}
.view-cnt .cnt{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
.view-info > span{
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.view-info > span + span{
    padding-left: 8px;
    margin-left: 6px;
}
.view-info > span + span:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 14px;
    background-color: #e5e2e4;
}
.view-info > span strong{
    font-weight: 600;
}
.view-link{
    padding: 20px 25px 0;
}
.view-link > a{
    display: inline-block;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-image: url('../image/ic_view_link.png');
    font-weight: 500;
    color: #000;
    word-break: break-all;
    vertical-align: top;
}
.view-contents{
    padding: 25px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 1.8rem;
    font-weight: 500;
}
.board-view:has(.view-attach) .view-contents{
    border-bottom: 0;
}
.view-contents *{
    font: inherit;
}
.view-contents img{
    max-width: 100%;
}

.view-attach{
    padding: 0 25px 40px;
    border-bottom: 1px solid #e2e2e2;
}
.view-attach-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 30px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    font-size: 1.5rem;
    letter-spacing: -0.05em;
}
.view-attach-con .con > a{
    display: block;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 0 3px;
    background-image: url('../image/ic_file2.png');
    transition: 0.3s ease;
    word-break: break-all;
}
.view-attach-con .con > a:hover{
    background-image: url('../image/ic_file2_on.png');
}
.view-attach-con .con > a + a{
    margin-top: 5px;
}

.view-contents .video-wrap{
    max-width: 700px;
    margin: 30px auto;
}
.video{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 62.5%;
}
.video > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* view::comment */
.comment-wrap{
    margin-top: 50px;
    font-size: 1.6rem;
    line-height: 1.3;
}
.comment-wrap > .tit{
    padding: 0 25px;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.07em;
}
.comment-write-wrap{
    display: flex;
    gap: 15px;
    padding: 0 25px;
    font-size: 1.6rem;
    line-height: 1.4;
}
.comment-write-wrap .form-item{
    height: 80px;
    padding: 20px;
    border-color: #e7e7e7;
    border-radius: 5px;
}
.comment-write-wrap .btn-submit{
    flex: 0 0 auto;
    width: 135px;
    height: 80px;
    background-color: #20366f;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}
.comment-list-wrap{
    margin-top: 35px;
    border-top: 1px solid #e2e2e2;
}
.comment-list-wrap ul > li{
    display: flex;
    flex-wrap: wrap;
    padding: 35px 30px;
    border-bottom: 1px solid #e2e2e2;
    letter-spacing: -0.05em;
}
.comment-contop{
    width: 100%;
}
.comment-name{
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
}
.comment-date{
    margin-left: 10px;
    font-size: 1.5rem;
    color: #9e9e9e;
}
.comment-contop .view-cnt{
    margin-bottom: 0;
}
.comment-contop .view-cnt .icon{
    border: 1px solid #d9dde4;
}
.comment-contents{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.6;
}
.comment-contents .btn-wrap{
    flex: 0 0 auto;
    margin: 0;
    padding-left: 20px;
}
.btn.btn-comment{
    display: inline-block;
    min-width: 60px;
    margin: 2px;
    padding: 3px 0;
    border-radius: 3px;     
    border: 1px solid #4986ac;
    background-color: #fff;
    color: #4986ac;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.07em;
    text-align: center;
}
.btn-comment.btn-modify{
    border-color: #20366f;
    color: #20366f;
}
.btn-comment.btn-delete{
    border-color: #bd466a;
    color: #bd466a;
}
.comment-list-wrap li.comment-reply{
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 25px 38px;
    background-image: url('../image/ic_comment_reply.png');
}
.comment-reply .comment-write-wrap{
    width: 100%;
    padding: 0;
}
.comment-reply .comment-write-wrap .form-item{    
    height: 80px;
}
.comment-reply .comment-write-wrap .btn{
    flex: 0 0 auto;
    width: 110px;
    height: 80px;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

/* view::move */
.view-move{
    display: flex;
    width: 100%;
    margin-top: 70px;
}
.view-move-con{
    display: flex;
    align-items: center;
    padding: 17px 20px;
    font-size: 1.6rem;
    color: #8c8c8c;
    letter-spacing: -0.05em;
}
.view-move-con .tit{
    position: relative;
    width: 80px;
    padding: 0 20px;
    background-repeat: no-repeat;
    background-position: 0 center;
    font-weight: 600;
    transition: background 0.3s ease;
}
.view-move-con .tit:after{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 7px;
    width: 1px;
    height: 11px;
    background-color: #d6d6d6;
    transition: 0.3s ease;
}
.view-move-con .con{
    width: calc(100% - 80px);
    padding: 0 20px;
}
.view-move-con a{
    vertical-align: top;
}
.view-move-con:hover{
    background-color: #f6f9ff;
    color: #000;
}
.view-move-con:hover .tit:after{
    background-color: #000000;
}

.view-move.type1 .view-move-con{
    width: 50%;
    border: 1px solid #e2e2e2;
    transition: 0.3s ease;
}
.view-move.type1 .view-move-con + .view-move-con{
    border-left: 1px solid transparent;
}
.view-move.type1 .view-prev{
   border-radius: 4px 0 0 4px;
}
.view-move.type1 .view-prev .tit{
    background-image: url('../image/ic_arrow_prev.png');
}
.view-move.type1 .view-prev:hover .tit{    
    background-image: url('../image/ic_arrow_prev_on.png');
}
.view-move.type1 .view-prev .tit:after{
    right: 0;
}
.view-move.type1 .view-next{
    flex-direction: row-reverse;
    border-radius: 0 4px 4px 0;
    text-align: right;
}
.view-move.type1 .view-next .tit{
    background-position: right center;
    background-image: url('../image/ic_arrow_next.png');
}
.view-move.type1 .view-next:hover .tit{    
    background-image: url('../image/ic_arrow_next_on.png');
}
.view-move.type1 .view-next .tit:after{
    left: 0;
}
.view-move.type1 .view-move-con:hover{
    border-color: #859cc8;
}

.view-move.type2{
    flex-direction: column;
    border-top: 1px solid #e2e2e2;
}
.view-move.type2 .view-move-con .tit:after{
    right: 0;
}
.view-move.type2 .view-move-con{
    border-bottom: 1px solid #e2e2e2;
}
.view-move.type2 .view-prev .tit{
    background-image: url('../image/ic_arrow_top.png');
}
.view-move.type2 .view-prev:hover .tit{
    background-image: url('../image/ic_arrow_top_on.png');
}
.view-move.type2 .view-next .tit{
    background-image: url('../image/ic_arrow_bottom.png');
}
.view-move.type2 .view-next:hover .tit{
    background-image: url('../image/ic_arrow_bottom_on.png');
}

/* write */
.write-contop{
    margin-bottom: 10px;
}
.help-text{
    font-size: 14px;
}
.write-wrap{
    border-top: 2px solid #20366f;
}
.write-wrap > li{
    display: table;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    table-layout: fixed;
}
.write-wrap > li > div{
    display: table-cell;
    min-height: 50px;
    padding: 10px 25px;
    line-height: 1.3;
    vertical-align: middle;
}
.write-wrap .form-tit{
    width: 20%;
    height: 100%;
    background-color: #f6f9ff;
    font-size: 1.7rem;
    font-weight: 600;
    color: #20366f;
    letter-spacing: -0.03em;
    text-align: center;
}
.write-wrap .form-con{
    width: 80%;
    font-size: 1.6rem;
    background-color: #fff;
}
.write-wrap .form-con .btn-small{
    display: inline-block;
    padding: 6px 10px;
    margin: 2px;
    background-color: #575e71;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    vertical-align: middle;
}
.write-wrap > li:not(:has(.form-tit)) .form-con{
    width: 100%;
}
.filebox label{
    padding: 7px 0;
    border-radius: 2px;
}
.cst .radio-group input[type="radio"], 
.cst .checkbox-group input[type="checkbox"]{
    margin-top: -4px;
}


/* =====================================

	* responsive

====================================== */
@media screen and (max-width: 1024px){
    html,
    body{
        font-size: 9px;
    }

    /* list */
    .gall-tit{
        height: 43px;
    }
}
@media screen and (max-width: 768px){    
    html,
    body{
        font-size: 8px;
    }

    /* base */
    /* form */
    .form-item{
        height: 30px;
        margin: 1px;
        padding: 0 10px;
    }
    .form-item.w-10p{
        min-width: 50px;
    }
    .form-item.w-20p{
        min-width: 120px;
    }
    .write-wrap .help-text{
        font-size: 13px;
    }
    .form-group-text .text{
        width: 80px;
    }
    .form-group-text .form-item{
        width: calc(100% - 85px);
    }
    .form-group.n2 .form-item{
        width: 100%;
    }
    .form-group.n2 .form-item + .form-item{
        margin-top: 10px;
    }
    .form-group-text.n2 .form-item{
        width: calc((100% - 32px) / 2);
    }
    .form-item + .form-group{
        margin: 0;
        margin-top: 10px;
        width: 100%;
    }    
    .form-group.has-btn .form-item{
        width: calc(100% - 107px);
    }

    /* radio, checkbox */
    .radio-wrap,
    .checkbox-wrap{
        gap: 5px 15px;
    }
    .radio-group, 
    .checkbox-group{
        padding-left: 25px;
    }
    .cst .radio-group input[type="radio"], 
    .cst .checkbox-group input[type="checkbox"]{
        margin-top: -3px;
        margin-left: -25px;
    }
    .cst .radio-group input[type="radio"], 
    .cst .checkbox-group input[type="checkbox"]{
        margin-right: 7px;
    }

    /* input file custom */
    .filebox label{
        width: 85px;
        padding: 5px 0;
        font-size: 14px;
    }
    .filebox .form-item{
        margin: 0;
    }
    .filebox .upload-name{
        width: calc(100% - 95px);
    }

    /* list */
    .sch-wrap{
        display: block;
        margin-bottom: 15px;
    }
    .sch-wrap .cnt{
        display: none;
    }
    .sch-wrap .form-item{
        height: 36px;
        font-size: 14px;
    }
    .sch-wrap .sch-cate{
        width: 90px;
    }
    .sch-wrap .sch-key{
        width: calc(100% - 137px);
    }
    .sch-wrap .btn-sch{
        width: 36px;
        height: 36px;
        background-size: 15px;
    }
    .vod-list{
        gap: 15px;
    }
    .vod-list > li{
        width: 100%;
    }
    .vod-list > li > a{
        height: auto;
    }
    .vod-list > li:hover .gall-text{
        opacity: 1;
    }
    .gall-img{
        height: 150px;
    }
    .gall-text{
        padding: 15px;
    }
    .gall-tit{
        height: auto;
        font-size: 14px;
    }
    .ic-new {
        width: 20px;
        height: 20px;
        margin: 0;
        font-size: 10px;
    }
    .gall-tit-wrap:has(.ic-new) .gall-tit{
        max-width: calc(100% - 25px);
    }
    .gall-con{
        margin-top: 5px;
        font-size: 12px;
    }
    .gall-con span + span:before{
        top: 3px;
        width: 1px;
        height: 9px;
    }    
    .bbs-admin{
        display: none;
        top: 10px;
        right: 10px;
    }
    .vod-list .no-data{
        padding: 30px 15px;
        font-size: 14px;
    }

    .vod-list.n2 > li{
        width: calc((100% - 15px)/2);
    }
    .vod-list.n2 .gall-name{
        display: block;
        margin-bottom: 3px;
        width: 100%;
    }
    .vod-list.n2 .gall-con span + span{
        margin-left: 0;
        padding: 0 5px;
    }
    .vod-list.n2 .gall-con .gall-name + span{
        margin-left: -5px;
    }
    .vod-list.n2 .gall-name + span:before{
        display: none;
    }

    /* button */
    .board-wrap .btn-wrap{
        margin-top: 20px;
    }
    .btn.btn-board{
        min-width: initial;
        padding: 7px 20px;
        font-size: 14px;
    }
    .board-view + .btn-wrap{
        text-align: center;
    }
    .btn-board.btn-list{
        float: none !important;
    }
    
    /* list::paging */
    .paging-wrap{
        margin-top: 30px;
    }
    .paging > li{
        width: 25px;
        height: 25px;
    }
    .paging > li > a{
        font-size: 14px;
    }
    .paging > li:not(.num){
        background-size: auto 10px;
    }
    .paging .prev{
        margin-right: 5px;
    }
    .paging .next{
        margin-left: 5px;
    }

    /* view */
    .view-contop{
        padding: 20px 15px;
    }
    .view-tit{
        margin-bottom: 10px;
        font-size: 17px;
        line-height: 1.3;
    }
    .view-cnt{
        margin-bottom: 5px;
        font-size: 12px;
    }
    .view-cnt button + button{
        margin-left: 5px;
    }
    .view-cnt .icon{
        width: 20px;
        height: 20px;
        padding: 5px;
    }
    .view-cnt .icon img{
        max-width: 100%;
    }
    .view-cnt .cnt{
        margin-left: 3px;
    }
    .view-info > span{
        font-size: 14px;
    }
    .view-info > span + span:before{
        top: 6px;
        height: 10px;
    }
    .view-link{
        padding: 10px 0 0;
    }
    .view-link > a{
        padding-left: 15px;
        background-size: 10px;
        background-position: 0 6px;
        font-size: 13px;
    }
    .view-contents{
        padding: 20px 15px;
        font-size: 14px;
        line-height: 1.5;
    }
    .view-contents .video-wrap {
        margin: 20px auto;
    }

    .view-attach{
        padding: 0 0 20px;
    }
    .view-attach-con{
        padding: 15px;
        border-radius: 3px;
        font-size: 14px;
    }
    .view-attach-con .con > a{   
        padding-left: 20px;
        background-size: 10px;
        font-size: 12px;     
        line-height: 1.3;
    }    

    /* view::comment */
    .comment-wrap{
        margin-top: 30px;
        font-size: 14px;
    }
    .comment-wrap > .tit{
        padding: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .comment-write-wrap{
        gap: 5px;
        padding: 0;
    }
    .comment-write-wrap .form-item{
        height: 50px;
        padding: 10px;
        border-radius: 3px;
    }
    .comment-write-wrap .btn-submit{
        width: 70px;
        height: 50px;
        border-radius: 3px;
        font-size: 14px;
    }
    .comment-list-wrap{
        margin-top: 15px;
        border-radius: 3px;
    }
    .comment-list-wrap ul > li{
        padding: 15px 0;
    }
    .comment-name{
        font-size: 14px;
    }
    .comment-date{
        margin-left: 5px;
        font-size: 12px;
    }
    .comment-contents{
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-top: 5px;
        font-size: 14px;
    }
    .comment-contents .btn-wrap{
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
        text-align: right;
    }
    .btn.btn-comment{
        min-width: initial;
        padding: 3px 12px;
        font-size: 12px;
    }
    .comment-list-wrap li.comment-reply{
        padding-left: 20px;
        background-size: 13px;
        background-position: 0 17px;
    }
    .comment-reply .comment-write-wrap .form-item{
        height: 50px;
    }
    .comment-reply .comment-write-wrap .btn{
        width: 50px;
        height: 50px;
        border-radius: 3px;
    }

    /* view::move */
    .view-move{
        margin-top: 20px;
    }
    .view-move-con{
        padding: 8px 10px;
        font-size: 14px;
    }
    .view-move-con .tit{
        width: 65px;
        padding: 0 15px;
        background-size: 7px;
    }
    .view-move-con .tit:after{
        top: 6px;
        width: 1px;
        height: 10px;
    }
    .view-move-con .con{
        width: calc(100% - 65px);
        padding: 0;
    }
    .view-move .view-prev .con{
        padding-left: 15px;
    }
    .view-move .view-next .con{
        padding-right: 15px;
    }
    .view-move.type2 .view-move-con .con{
        padding: 0;
        padding-left: 15px;
    }
    
    .view-move.type1 .view-prev{
        border-radius: 3px 0 0 3px;
    }
    .view-move.type1 .view-next{
        border-radius: 0 3px 3px 0;
    }    
    .view-move.type2 .view-move-con .tit{
        background-size: 10px;
    }
    
    /* write */
    .help-text{
        font-size: 12px;
    }
    .write-wrap > li{
        display: block;
    }
    .write-wrap > li > div{
        display: block;
        width: 100%;
        min-height: initial;
    }
    .write-wrap .form-tit,
    .write-wrap .form-con{
        width: 100%;
        padding: 8px 10px;
        font-size: 14px;
        text-align: left;
    }
    .write-wrap .form-tit + .form-con{
        border-top: 1px solid #e2e2e2;
    }
    .write-wrap .form-con .btn-small{
        padding: 4px 8px;
        font-size: 12px;
    }
}