@charset "utf-8";
/* ==================================================

    * sub
    
================================================== */

/* 서브::준비중 */ 
.ready-wrap {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.ready-wrap p {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    font-size: 3.6rem;
    line-height: 1;
}
.ready-wrap p strong {
    font-weight: 800;
}
.ready-wrap span {
    color: #666;
}

/* 서브::VISUAL */
@keyframes visualTextUp{
	from {opacity: 0; -webkit-transform:translateY(10px); transform:translateY(10px); }
	50%{ opacity: 0.4; }
	to { opacity: 1; -webkit-transform:translateY(0px); transform:translateY(0px); }
}
.sub-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: -40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px auto;
    background-image: url('../image/sub/bg_subvisual.png');
}
.sub-visual-con {
    width: 100%;
}
.sub-visual-text {
    opacity: 0;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #0c5b0c;
    -webkit-animation:visualTextUp 0.5s linear forwards;
    animation:visualTextUp 0.5s linear forwards;
}
.breadcrumb{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    color: #586658;
}
.breadcrumb > li{
    font-size: 1.6rem;
    line-height: 1;
}
.breadcrumb > li.font-suit{
}

/* 서브::LNB */
.sub-menu {
    overflow: hidden;
    margin-top: -35px;
    border: 1px solid #c5d8c6;
    border-radius: 40px;
    background-color: #fff;
    text-align: center;
}
.btn-sub-menu {
    display: none;
}
.sub-menu-depth01 {
    display: none;
}
.sub-menu-list ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sub-menu-list ul > li {
    position: relative;
    flex-shrink: 1;
    width: 100%;
    text-align: center;
}
.sub-menu-list ul > li + li::after { 
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 18px;
    margin-top: -9px;
    background-color: #c5d8c6;
}
.sub-menu-list ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    font-size: 1.8rem;
    line-height: 1.2;
    background-color: #fff;
    color: #586658;
    transition: 0.3s ease;
}
.sub-menu-list ul > li.on > a,
.sub-menu-list ul > li:hover > a {
    background-color: #17941b;
    color: #fff;
    font-weight: 700;
}

/* 서브::TAP MENU */
.sub-tab-wrap{
    margin-bottom: 40px;
    text-align: center;
}
.sub-tab-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-tab-menu > li{
    flex: 1;
    height: 55px;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-right: 0;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}
.sub-tab-menu > li:last-child{
    border-right: 1px solid #c1c1c1;
}
.sub-tab-menu > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #929292;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}
.sub-tab-menu > li:hover,
.sub-tab-menu > li.on{
    background-color: #0c5b0c;
    border-color: #0c5b0c;
}
.sub-tab-menu > li:hover > a,
.sub-tab-menu > li.on > a{
    color: #fff;
}
.sub-tab-con {
    display: none;
}


.sub-tab-wrap.type3 {
    z-index: 5;
    position: relative;
    margin-bottom: -45px;
}
.type3 .sub-tab-menu{
    gap: 25px;
}
.type3 .sub-tab-menu > li{
    max-width: 330px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
}
.type3 .sub-tab-menu > li > a {
    font-size: 3rem;
    font-weight: 500;
    color: #0c5b0c;
}
.type3 .sub-tab-menu > li:hover,
.type3 .sub-tab-menu > li.on{
    background-color: #0c5b0c;
    border-color: #0c5b0c;
}
.type3 .sub-tab-menu > li:hover > a,
.type3 .sub-tab-menu > li.on > a{
    color: #fff;
}

/* 서브::공통 */
.sub-contents {
    padding-top: 80px;
    padding-bottom: 100px;
}
.sub-tit-wrap {
    margin-top: 50px;
    margin-bottom: 25px;
}
.sub-tit {
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 22px;
    background-image: url('../image/sub/bg_sub_tit.png');
    font-size: 2.5rem;
    font-weight: 500;
    color: #0c5b0c;
    line-height: 1.2;
}

/* 로그인:: Type E */
.login-wrap.type5{
    max-width: 840px;
    margin: 0 auto;
}
.type5 .login-tit-wrap{
    text-align: center;
}
.type5 .login-tit{
    margin-bottom: 40px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
}
.type5 .login-tit-wrap p{
    font-weight: 500;
    color: #6b6b6b;
}
.type5 .input-box{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 70px 0;
    padding: 60px 30px 30px;
    border-top: 3px solid #0c5b0c;
    border-bottom: 1px solid #e5e5e5;
    gap: 10px;
}
.type5 .login-form .form-group{
    width: calc(100% - 180px);
}
.type5 .login-form .form-item{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 20px center;
    background-image: url('../image/sub/ic_person.png');
    font-size: 1.6rem;
    font-weight: 700;
}
.type5 .login-form .form-item[type="password"]{
    background-image: url('../image/sub/ic_password.png');
}
.type5 .login-form .form-item + .form-item{
    margin-top: 20px;
}
.type5 .input-box .btn.btn-login{
    flex: 0 0 auto;
    width: 170px;
    height: 140px;
    background-color: #0096da;
    border-radius: 5px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}
.type5 .input-box .checkbox-wrap{
    flex: 0 0 auto;
    width: 100%;
    margin-top: 20px;
}
.login-form .radio-group input[type="radio"] + label, 
.login-form .checkbox-group input[type="checkbox"] + label{
    padding-left: 25px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #8a8a8a;
}
.login-form .radio-group input[type="radio"] + label:before, 
.login-form .checkbox-group input[type="checkbox"] + label:before{
    top: 4px;
    width: 16px;
    height: 16px;
    border-color: #778193;
}
.login-form .radio-group input[type="radio"]:checked + label:before, 
.login-form .checkbox-group input[type="checkbox"]:checked + label:before{
    border-color: #21ade8;
    background-image: url('../image/sub/ic_cst_checkbox.png');
}
.type5 .login-form .btn-wrap{
    margin-top: 40px;
    text-align: center;
}
.type5 .login-form .btn-wrap .btn{
    display: inline-block;
    padding: 21px 50px;
    margin: 0 8px;
    border-radius: 50px;
    border: 1px solid transparent;
    font-weight: 500;
}
.type5 .login-form .btn.btn-signup{
    position: relative;
    padding-right: 90px;
    background-color: #fff;
    border-color: #0096da;
    color: #666666;
}
.type5 .login-form .btn.btn-signup:before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'GO';
    clear: both;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0096da;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

/* 찾기::Type A */
.type1 .find-form{
    max-width: 440px;
}
.type1 .find-form + .find-form{
    border-left: 1px solid #ececec;
}
.type1 .find-tit-wrap{
    margin-bottom: 35px;
    text-align: center;
}
.type1 .find-tit{
    margin: 15px 0;
    font-size: 2.8rem;
    font-weight: 500;
    color: #0c5b0c;
    line-height: 1;
}
.type1 .find-form .form-item{
    width: 100%;
    height: 50px;
    padding: 0 20px;
}
.type1 .find-form .form-item + .form-item{
    margin-top: 10px;
}
.type1 .find-form .btn-wrap{
    margin-top: 10px;
}
.type1 .btn.btn-type2{
    width: 100%;
    margin: 0;
}
.type1 .find-result-con{
    margin-top: 10px;
    padding: 30px;
    background-color: #f3f3f3;
    border-radius: 4px;
    font-weight: 500;
    color: #575757;
    text-align: center;
}

/* 가입안내:: */
.signup-wrap .bg-box {
    padding: 100px 40px 60px;
    border-radius: 15px;
    text-align: center;
    line-height: 1;
    font-size: 4rem;
    font-weight: 500;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../image/sub/bg_signup.png');
}
.signup-wrap .bg-box strong{
    font-size: 4.5rem;
}

/* 약관동의:: */
.step-list-wrap{
    margin-bottom: 80px;
    text-align: center;
}
.step-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-list > li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 400px;
    height: 90px;
    padding: 10px;
    border: 1px solid #c1c1c1;
    border-right: 0;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    color: #929292;
    background-color: #fff;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}
.step-list > li:first-child{
    border-radius: 10px 0 0 10px;
}
.step-list > li:last-child{
    border-right: 1px solid #c1c1c1;
    border-radius: 0 10px 10px 0;
}
.step-list > li.on{
    background-color: #0c5b0c;
    border-color: #0c5b0c;
    color: #fff;
}

.signup-text {
    margin-bottom: 80px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.6;
    color: #666666;
}
.term-wrap{
    height: 320px;
    padding: 30px;
    border: 1px solid #c7dadd; 
}
.scroll-y{
    overflow-y: auto;
}
.scroll-y::-webkit-scrollbar{
    overflow: hidden;
    width: 13px;
}
.scroll-y::-webkit-scrollbar-track{
    background-color: #fff;
    border-left: 1px solid #c7dadd;
}
.scroll-y::-webkit-scrollbar-thumb{
    background-color: #5f5f5f;
}
.term-conbox{
    font-size: 1.8rem;
    line-height: 1.3;
}
.term-wrap + .checkbox-wrap{
    display: block;
    margin-top: 20px;
    font-size: 2rem;
    text-align: right;
}
.term-wrap + .checkbox-wrap input[type="checkbox"]{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* 가입완료::Type A */
.signup-complete-wrap.type1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.signup-complete-wrap.type1 .tit{
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.signup-complete-wrap.type1 .highlights{
    display: inline;
    padding: 0 5px;
    font-size: 2.5rem;
    font-weight: 600;
    box-shadow: inset 0 -14px 0 #fffce5;
}
.signup-complete-wrap.type1 p{
    margin-top: 50px;
    font-size: 1.8rem;
    font-weight: 500;
}
.signup-complete-wrap.type1 ul{
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 40px;
    background-color: #e9f6e9;
    border-radius: 50px;
}
.signup-complete-wrap.type1 ul > li{
    display: inline-block;
    position: relative;
    padding: 20px 35px;
    font-weight: 500;
    color: #005303;
}
.signup-complete-wrap.type1 ul > li.title {
    background-color: #17941b;
    color: #fff;
    font-weight: 700;
}
.signup-complete-wrap.type1 ul > li:not(.title):after{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: #005303;
}
.signup-complete-wrap.type1 ul > li.title:after,
.signup-complete-wrap.type1 ul > li:last-child:after {
    display: none;
}
.signup-complete-wrap.type1 .btn-wrap{
    margin-top: 60px;
}

/* 마이페이지::Type A */
.mypage-menu{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
}
.mypage-menu > li{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(25% - 30px);
    height: 330px;
    border: solid 1px transparent;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../image/sub/bg_mypage01.png');
    transition: 0.3s ease;
}
.mypage-menu > li:nth-of-type(even) {
    background-image: url('../image/sub/bg_mypage02.png');
}
.mypage-menu > li > a{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 60px 20px 40px;
}
.mypage-menu > li p {
    font-size: 3rem;
    font-weight: 700;
}
.mypage-menu .bottom{
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    text-align: center;
}
.mypage-menu .bottom img{
    opacity: 1;
    transition: 0.3s ease;
}
.mypage-menu .bottom .btn {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 3px 7px 0 rgba(125, 125, 125, 0.5);
    transition: 0.3s ease;
}
.mypage-menu .bottom .btn span {
    padding: 5px 20px 5px 40px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: #10907f;
}
.mypage-menu .bottom .btn .arrow {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;;
    border-radius: 50%;
    background-color: #10907f;
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: center;
    background-image: url('../image/sub/ic_mypage_arrow.png');
}

.mypage-menu > li:last-child {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('../image/sub/bg_mypage03.png');
}
.mypage-menu > li:last-child > a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 50px 70px;
    color: #fff;
}
.mypage-menu > li:last-child p {
    margin-bottom: 0;
}
.mypage-menu > li:last-child .bottom,
.mypage-menu > li:last-child .btn {
    position: static;
    width: auto;
    transform: translateX(0);
}
.mypage-menu > li:last-child:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) ),url('../image/sub/bg_mypage03.png');
}

.mypage-menu li:hover{
    border: solid 1px #10907f;
}
.mypage-menu li:hover .bottom img {
    opacity: 0;
}
.mypage-menu li:hover .btn {
    opacity: 1;
} 

/* 개인정보수정::*/
.find-tit-wrap{
    margin-bottom: 25px;
    text-align: center;
    font-weight: 500;
}
.find-tit-wrap:has(.bg-grey) {
    margin-bottom: 50px;
}
.find-tit-wrap .bg-grey {
    padding: 20px;
    margin-bottom: 50px;
}
.find-tit{
    margin-top: 15px;
    font-size: 2.8rem;
    font-weight: 500;
    color: #0c5b0c;
    line-height: 1;
}
.find-form .write-wrap + .list-type {
    margin-top: 20px;
}

/* 회비납부:: */
.table-wrap:has(.list-table) {
    border-top-color: #17941b;
}
.list-table thead th {
    background-color: #edf8ee;
    color: #096f0c;
}
.list-table th,
.list-table td {
    padding: 10px;
}

/* 회원탈퇴::Type A */
.bg-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-weight: 500;
}
.bg-box{
    padding: 45px 60px;
    margin-bottom: 40px;
    border-radius: 6px;
    background-color: #e8fce8;
}
.bg-box.bg-white {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dddddd;
}
.bg-box .tit {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;
    color: #0c5b0c;
}

.find-form{
    max-width: 870px;
    margin: 0 auto;
}
